body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.gradient-text{
  font-size: 5rem;
  font-weight: 900;
  background: linear-gradient(80deg, #A81012, #F69432, #134929);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.smooth{
  background: linear-gradient(to bottom, #ffffff  0%, #ffffff 50%, #F69432 100%);
}